<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mytest.dao.UserDao">
	<insert id="addUser" >
		insert into userinfo (username,password,provinceId,cityId,streetId,birthday) values
		(#{username},#{password},#{provinceId},#{cityId},#{streetId},#{birthday})
	</insert>
	
	<select id="selectUser" resultType="User">
		select id,username,password,provinceId,cityId,streetId,birthday from userinfo where username = #{username} and password = #{password}
	</select>
	
	<select id="selectUserInfo" resultType="User">
		select id,username,password,provinceId,cityId,streetId,birthday from userinfo
	</select>
	
	<delete id="deleteUserInfo">
		delete from userinfo where id = #{id}
	</delete>
	
	<select id="getUserInfoById" resultType="User">
		select id,username,password,provinceId,cityId,streetId,birthday from userinfo where id = #{id}
	</select>
	
	<update id="updateUserInfo">
		update userinfo set username=#{username},password=#{password},provinceId=#{provinceId},cityId=#{cityId},streetId=#{streetId} where id=#{id}
	</update>
	
	<select id="searchUser" resultType="User">
		select id,username,password,provinceId,cityId,streetId,birthday from userinfo
		<include refid="search"></include>
	</select>
	
	<update id="testTransaction1">
		update userinfo set username = "tt" where id = "1"
	</update>
	
	
	<update id="testTransaction2">
		update userinfo set username = "tt" where id = "2"
	</update>
	
	<sql id="search">
		<where>
			<if test="name!=null and name.trim!=''">
				and username like '%' #{name} '%'
			</if>
			<if test="province!=null and province.trim!=''">
				and provinceId = #{province}
			</if>
			<if test="minBirthday!=null and minBirthday.trim!=''">
				and birthday > #{minBirthday}
			</if>
			<if test="maxBirthday!=null and maxBirthday.trim!=''">
				and #{maxBirthday} > birthday
			</if>
		</where>
	</sql>
</mapper>